<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=products page
    , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
products
<ul>
    <li><a href="/products/new">new</a></li>
    <li><a href="/products/delet">delet</a></li>
</ul>
</body>
</html>